{#
 # Sharif Judge
 # file: add_notification.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'editor' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-code{% endblock %}
{% block title %}Code Submit{% endblock %}
{% block head_title %}Code Submit{% endblock %}

{% block other_assets %}
<style>
    #code{
        display: none;
    }
    
	#code_div{
	    height: 280px;
		display: block;
	}
</style>
<script>
	shj.p={};
	{{ problems_js|raw }}
	$(document).ready(function(){
		$("select#problems").change(function(){
			var v = $(this).val();
			$('select#languages').empty();
			$('<option value="0" selected="selected">-- Select Language --</option>').appendTo('select#languages');
			if (v==0)
				return;
			for (var i=0;i<shj.p[v].length;i++)
				$('<option value="'+shj.p[v][i]+'">'+shj.p[v][i]+'</option>').appendTo('select#languages');
		});
	});
</script>
<script src="{{ base_url("/assets/ace_editor/ace.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ base_url("/assets/ace_editor/ext-language_tools.js") }}"></script>

<script>
$(document).ready(function(){
	var editor = ace.edit("code_div");
	var textarea = $('#content');
	ace.config.loadModule("ace/ext/language_tools", function() {
		editor.setOptions({
			mode: "ace/mode/text",
			fontSize: 15,
			showPrintMargin: false,
			enableSnippets: true,
			enableBasicAutocompletion: true,
			enableLiveAutocompletion: true
		});
	});
	
	
	$("#languages").change( function() {
		var lang_id = $("#languages").val();
		switch (lang_id)
		{
			case "C":
				editor.session.setMode("ace/mode/c_cpp");
				var lang = 'c';
				break;
			case "C++":
				editor.session.setMode("ace/mode/c_cpp");
				var lang = 'cpp';
				break;
			case "Python 3":
				editor.session.setMode("ace/mode/python");
				var lang = 'py';
				break;
			case "Python 2":
				editor.session.setMode("ace/mode/python");
				var lang = 'py2';
				break;
			case "Java":
				editor.session.setMode("ace/mode/java");
				var lang = 'java'
				break;
			default:
				editor.session.setMode('ace/mode/text');
				var lang = '';
				break;
		}

		if (lang != '')
		{
			var obj = $.ajax({
				type: 'POST',
				url: shj.site_url + 'submit/template',
				data: {
					assignment: {{ user.selected_assignment.id }},
					problem: $("#problems").val(),
					language: lang,
					shj_csrf_token: shj.csrf_token
				},
				success: function (response) {
					if (response.done && response.data != null) {
						editor.session.setValue(response.data);
					}
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) { 
					alert("Status: " + textStatus + " Error: " + errorThrown); 
				}
			});					
		}
	});
	//$("#languages").change();
	
	editor.getSession().on('change', function () {
		textarea.val(editor.getSession().getValue());
	});

	textarea.val(editor.getSession().getValue());

});
</script>
{% endblock %}

{% block main_content %}
{% if error != 'none' %}
<p>{{ error }}</p>
{% else %}
	<p>Selected assignment: <span dir="auto">{{ user.selected_assignment.name }}</span></p>
	<p>Coefficient: {{ coefficient }}%</p>
	{{ form_open_multipart('submit/editor') }}
	<p class="input_p">
		<label for="problems" class="tiny">Problem:</label>
		<select id="problems" name ="problem" class="sharif_input">
			<option value="0" selected="selected">-- Select Problem --</option>
			{% for problem in problems %}
			    {% if problem.is_upload_only == 0 %}
				    <option dir="auto" value="{{ problem.id }}">({{ problem.id }}) {{ problem.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
		{{ form_error('problem','<div class="shj_error">','</div>') }}
	</p>
	<p class="input_p">
		<label for="languages" class="tiny">Language:</label>
		<select id="languages" name="language" class="sharif_input">
			<option value="0" selected="selected">-- Select Language --</option>
		</select>
		{{ form_error('language','<div class="shj_error">','</div>') }}
	</p>
	
	<p class="input_p">Code:</p>
	<p class="input_p">
	    <div id="code_div"></div>
    </p>
    
    <p class="input_p">
        <textarea name="content" id="content" style="display:none;"></textarea>
		<input type="submit" value="Submit" class="sharif_input"/>
	</p>
	
	
	</form>
	
{% endif %}
{% endblock %}  {# main_content #}
